* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
}

/* bodyとhtmlにw100%h100%をつけると、メインビジュアルで画面の高さ100%を取りたい時、
h100vhを使わなくてもh100%を使うことができるよ。「なんで100vhじゃだめなのか」は調べてみて。
*/

/* ----------------- 共通クラス ----------------- */

button a {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    background-color: #0B7174;
    padding: 1.5rem 5rem;
    border-radius: 9999px;
    /* 角の丸みをつけるとき、borderの太さなどは相対値(%やem,rem)ではなく、絶対値で書く。
    なぜか: 相対的に変化すると、角の丸みが変わってしまうから。
    「大きい画面の時にはめっちゃ丸くなるけど、小さい画面の時は尖ってる」を意図しているなら相対値だけど、
    そんなことはないと思うから、絶対値で書いておくとよき。

    角の丸みが左右で完全な丸の場合は超絶大きい数字を書くといいよ。
    でもこの書き方は今じゃ古いらしい。最新のを調べてみてよ。
    */
    transition: background-color .2s;
    /* 「background-colorが変化する時のみ、0.2秒かけてtransition(変化)する」 */
}

.btn button a:hover {
    background-color: #065153;
    /* hover時は暗くなる方が自然な気がするなぁ */
}

.btn {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center {
    text-align: center;
}

/* ----------------- 共通クラス ここまで ----------------- */

/* ----------------- .top ----------------- */

.top {
    position: relative;
    height: calc(100% - 12rem);
    background: linear-gradient(#00564f, #4FCBC1, #B8EBE6);
    /* paddingをつけた分、高さは「画面の縦幅 + 6rem + 6rem」になって
    結果縦に長くなってしまうから、100%から12rem分引いて調整する */
    padding: 6rem;
    /* カンプを見る限り、.topの中に存在する四辺の文字は同じ感覚でmargin(or padding)を持っているね。
        それぞれ個別にpaddingを調整するよりも、.topで間隔を調整してあげた方がいいね。
    */
}

.top>h1.header {
    width: fit-content;
    /* fit-content は要素の持つ長さに合わせてくれる。今回の場合は文字列の長さに合わせてくれる。 */
    font-size: 4rem;
    color: #fff;
    font-family: 'A P-OTF Antique AN4+ ProN', serif;
    background: #30B6AB;
    padding: 1rem 4rem;
    border-radius: 9999px;
    margin-bottom: 2rem;
}

.top>h2 {
    font-size: 6rem;
    color: #fff;
    font-family: 'A P-OTF Futo Go B101 Pr6N', serif;
    line-height: 1.2;
    /* line-heightに値をつけるの俺は好きじゃないなぁ。
    好みの問題もあるけど、値をつけた時とそうじゃない時でもちろん違いあるから調べてみて。
    */
}

.top_img {
    position: absolute;
    bottom: 0;
    /* 画像を浮かせておいた方が、その後に来る要素を邪魔しない。 */
}

.product_info {
    width: calc(100% - 12rem);
    /* .topのcalcと同じ要領。 */
    position: absolute;
    bottom: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product_info>p {
    font-size: 5rem;
    color: #fff;
    font-family: 'A P-OTF Futo Go B101 Pr6N', serif;
}

/* ----------------- .top ここまで ----------------- */

/* ----------------- .main ----------------- */

.main {
    background-color: #E2F5F3;
}

.explanation>h2 {
    font-size: 2.8rem;
    text-align: center;
    font-weight: bolder;
    /* 俺は太い方が好きだった。 */
    padding: 7rem;
}

.features h2 {
    font-size: 4.8rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    /* text-align: center; */
    margin: 12rem auto;
    /* margin autoでセンタリングするのか、text-alignでセンタリングするのか。どちらかに。 */
}

.sense_wrap {
    display: flex;
    justify-content: space-evenly;
    /* なんかもっとこのへん綺麗にできそうな気がするが... */
}


.sense_txt h3 {
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.sense_txt img {
    width: 14rem;
    height: 14rem;
}

/* こっから特に名前づけが不適切 */

.sense {
    margin-right: 2.2rem;
}

.sharp {
    margin-left: 2.2rem;
}

/* ここまで */

/* この辺は画像じゃなくてコーディングでやった方がいいかも。なんか文字が下にズレてる気もする。
class名がバラバラかつ、画像の内容をclass名で分別してるのは気になる。
*/

.sense_txt p {
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    /* line-height: 3.3rem; */
    /* 単位ついてるのは嫌かもな。 */
}

.rigidity_wrap {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15rem;
}

.rigidity_txt {
    text-align: left;
}

.rigidity_txt h3 {
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.rigidity_txt img {
    width: 14rem;
    height: 14rem;
}

.rigidity {
    margin-right: 2.2rem;
}

.fit {
    margin-left: 2.2rem;
}

.rigidity_txt p {
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 3.3rem;
}

.repulsion_wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 10rem auto;
}

.repulsion_txt {
    text-align: left;
}

.repulsion_txt h3 {
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    margin-bottom: 1rem;
}

.repulsion_txt img {
    width: 14rem;
    height: 14rem;
}

.repulsion {
    margin-right: 2.2rem;
}

.feeling {
    margin-left: 2.2rem;
}

.repulsion_txt p {
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    margin-top: 1rem;
    line-height: 3.3rem;
}


.interview_wrap {
    width: 50%;
    min-width: 720px;
    /* min-width 「指定値以上に縮まないように。 = 最小幅」 */
    margin: 12rem auto 0;
}

.interview_wrap>h2 {
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    text-align: left;
    margin-bottom: 4rem;
}

.interview {
    display: flex;
    gap: 2rem;
}

.interview .profile {
    width: 30%;
}

.interview .comment {
    text-decoration: underline;
    text-decoration-color: #0B7174;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    flex-grow: 1;
}


.interview img {
    /* border-radius: 50%; */
    width: 100%;
}

.interview p {
    line-height: 2;
    font-size: 4rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
}

.information_wrap {
    display: flex;
    line-height: 3rem;
    margin: 1.5rem 25rem;
}

.interview table {
    width: 100%;
    font-size: 2rem;
    width: fit-content;
    margin: 0 auto;
}

.interview table th,
.interview table td {
    padding: 0 1rem;
}

.career {
    font-size: 2.5rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
    text-align: left;
    line-height: 1.6;
    padding: 1rem;
}


.information p {
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
}

.information_detail {
    font-size: 2rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    margin-left: 2rem;
}



.diagonal_line {
    width: 100%;
    height: 100%;
    border: 0.5rem solid #3EB8AE;
    transform: rotate(-10deg);
    margin: 20rem auto;
}

.comparison_wrap>h1 {
    font-size: 3.6rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    color: #0B7174;
    text-align: center;
    margin: 12rem auto;
}


.comparison {
    display: flex;
    justify-content: space-around;
}

.year {
    font-size: 3.5rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
}

.weight {
    font-size: 3.5rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
}

.light_weight {
    font-size: 3rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    font-weight: lighter;
}

.light_weight>span {
    font-size: 3.5rem;
    font-weight: bold;
}

.old_spike {
    margin-top: -0.5rem;
}

hr {
    border: 1px solid #000;
    margin: 20rem;
}

.merchandise_wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.sea_glass_spike {
    flex-direction: column;
    line-height: 5rem;
}

.sea_glass_spike p {
    font-size: 3rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    text-align: left;
}

.sea_glass {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.circle_sea_glass {
    height: 3rem;
    width: 3rem;
    background-color: #3EB8AE;
    border-radius: 50%;
}

.purple_spike {
    flex-direction: column;
    line-height: 5rem;
}

.purple_spike p {
    font-size: 3rem;
    font-family: 'A P-OTF Gothic MB101KS+ ProN', serif;
    text-align: left;
}

.purple {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.circle_purple {
    height: 3rem;
    width: 3rem;
    background-color: #B3ADED;
    border-radius: 50%;
}

.ds_light {
    opacity: 60%;
}